<!-- Cart -->
<div class="dropdown">
    <a class="dropdown-toggle" href="@Url.Action("XemGioHang","GioHang")">
        <i class="fa fa-shopping-cart"></i>
        <span>Giỏ Hàng</span>
        <div class="qty"><span>@ViewBag.TongSoLuong</span></div>
    </a>
</div>
<!-- /Cart -->
